
{% block content %}
<section class="inner">
    <div id="test">{{ page.slider.title }}</div>
    <div class="owl-carousel owl-theme">
        {% for slider in page.header.slider %}
            <div class="carousel-item" style="background-image: url({{ page.media[slider.image].cache.url }})">
                <div class="container d-flex flex-column justify-content-center">
                    <div class="carousel-item-title">{{ slider.title }}</div>
                    <div class="carousel-item-content">{{ slider.descr }}</div>
                    <a href="{{ base_url }}/products/" class="btn btn-lg">{{ 'VIEW_PRODUCT'|t }}</a>
                </div>
            </div>
        {% endfor %}

        <div class="carousel-item" style="background-image: url({{ theme_url }}/images/slider-1.png)">
            <div class="container d-flex flex-column justify-content-center">
                <div class="carousel-item-title">настоящее удовольствие от икры</div>
                <div class="carousel-item-content">Мы обеспечиваем продуктовый рынок качественными и полезными для здоровья продуктами по доступной цене.</div>
                <a href="{{ base_url }}/products/" class="btn btn-lg">Ознакомиться с товаром</a>
            </div>
        </div>

        <div class="carousel-item" style="background-image: url({{ theme_url }}/images/slider-2.png)">
            <div class="container d-flex flex-column justify-content-center">
                <div class="carousel-item-title">Первая икорная компания</div>
                <div class="carousel-item-content">Создаем дилерскую сеть только по одному дилеру в регионе (городе)</div>
                <a href="{{ base_url }}/products/" class="btn btn-lg">Ознакомиться с товаром</a>
            </div>
        </div>

        <div class="carousel-item" style="background-image: url({{ theme_url }}/images/slider-3.png)">
            <div class="container d-flex flex-column justify-content-center">
                <div class="carousel-item-title">Что такое имитированная икра</div>
                <div class="carousel-item-content">Имитированная икра — недорогая подделка под настоящую рыбью икру, чёрную или красную.</div>
                <a href="{{ base_url }}/products/" class="btn btn-lg">Ознакомиться с товаром</a>
            </div>
        </div>
    </div>

</section>

{% endblock %}