{% extends 'partials/base.html.twig' %}


{% block content %}
    {#<h1>{{ page.title }}</h1>#}
    {#<b>{{ page.header.features1 }}</b>#}
    {#{{ page.content }}#}
    <section class="about-company single-page">
        <div class="container">
            <ul class="breadcrumbs d-flex">
                <li><a href="../../../../index.php">О компании</a></li>
                <li>Икра - что это?</li>
            </ul>
            <div class="row">
                <div class="col-md-4 aside" style="background-image: url({{ theme_url }}/images/banner-2.png)"></div>
                <div class="col-md-8 page">
                    <h1 class="title title-lg">{{ page.title }}</h1>
                    <!-- /title -->
                    <div class="page-content">
                        {{ content }}
                    </div>
                    <!-- /page-content -->
                    <a  href="{{ base_url }}/products/" class="btn btn-lg">{{ 'VIEW_PRODUCT'|t }}</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /about-company -->
{% endblock %}