{% extends 'partials/base.html.twig' %}


{% block content %}
    <section class="wholesale">
        <div class="container">
            <ul class="breadcrumbs d-flex">
                <li><a href="index.html">О компании</a></li>
                <li>Оптовым покупателям</li>
            </ul>
            <div class="row">
                <div class="col-md-4 aside">
                    <div class="wholesale-products d-flex flex-wrap">
                        <div class="aside-products-item d-flex flex-column align-items-center">
                            <img src="{{ theme_url }}/images/caviar-2.png" alt="">
                            <span>Белуги</span>
                        </div>
                        <!-- /aside-products-item -->
                        <div class="aside-products-item d-flex flex-column align-items-center">
                            <img src="{{ theme_url }}/images/caviar-2.png" alt="">
                            <span>Белуги</span>
                        </div>
                        <!-- /aside-products-item -->
                        <div class="aside-products-item d-flex flex-column align-items-center">
                            <img src="{{ theme_url }}/images/caviar-2.png" alt="">
                            <span>Белуги</span>
                        </div>
                        <!-- /aside-products-item -->
                        <div class="aside-products-item d-flex flex-column align-items-center">
                            <img src="{{ theme_url }}/images/caviar-2.png" alt="">
                            <span>Белуги</span>
                        </div>
                        <!-- /aside-products-item -->
                        <div class="aside-products-item d-flex flex-column align-items-center">
                            <img src="{{ theme_url }}/images/caviar-2.png" alt="">
                            <span>Белуги</span>
                        </div>
                        <!-- /aside-products-item -->
                        <div class="aside-products-item d-flex flex-column align-items-center">
                            <img src="{{ theme_url }}/images/caviar-2.png" alt="">
                            <span>Белуги</span>
                        </div>
                        <!-- /aside-products-item -->
                    </div>
                    <!-- /wholesale-products -->
                </div>
                <!-- /aside -->
                <div class="col-md-8 wholesale-form">
                    <h1 class="title title-lg">Икра - что это?</h1>
                    <!-- /title -->
                    <div class="wholesale-description">
                        <p>Мы осуществляем оптовые продажи нашей продукции в те регионы Украины, в которых временно не имеем представителей из числа партнеров дистрибьюторов.</p>
                        <p>Наши менеджеры будут рады рассказать Вам о наличии возможности прямойотгрузки для Вас, а также о маркетинговой и ценовой политике.</p>
                        <p>В случае отсутствия возможности прямой отгрузки, мы обеспечим для Вас наиболее выгодные условия при отгрузке нашими партнерами в Вашем регионе.</p>
                    </div>
                    <div class="wholesale-form-wrapper">
                        <h1 class="title title-lg text-center">Хотите стать оптовым покупателем?</h1>
                        <div class="sub-title text-center">
                            <p>Оставьте заявку и наш менеджер свяжется</p>
                            <p>с Вами в ближайшее время</p>
                        </div>
                        <form>
                            <div class="form-group">
                                <label class="icon icon-user"></label>
                                <input type="text" class="form-control" placeholder="Ваше имя*">
                            </div>
                            <div class="form-group">
                                <label class="icon icon-smartphone"></label>
                                <input class="form-control" type="tel" placeholder="Ваш телефон*">
                            </div>
                            <div class="form-group" type="email">
                                <label class="icon icon-email"></label>
                                <input class="form-control" placeholder="Ваша почта">
                            </div>
                            <button type="submit" class="btn btn-lg btn-block">Хочу стать оптовым покупателем</button>
                        </form>
                        <!-- /form -->
                    </div>
                    <!-- /wholesale-form -->
                </div>
            </div>
            <h1 class="title title-lg text-center">Варианты фасовки икры</h1>
            <div class="packing-wrapper d-flex justify-content-center align-items-center flex-wrap">
                <div class="packing-item d-flex flex-column align-items-center">
                    <span class="packing-type">Стекло</span>
                    <div class="card">
                        <div class="product-img d-flex justify-content-center">
                            <img src="{{ theme_url }}/images/caviar-3.png" alt="">
                        </div>
                        <div class="product-info">
                            <div class="product-title text-center">
                                <span>Кета</span>
                            </div>
                            <!-- /product-title -->
                            <ul class="product-packing d-flex align-items-center justify-content-center flex-wrap">
                                <li><span class="icon-weight"></span>100 мл</li>
                            </ul>
                            <!-- /product-packing -->
                        </div>
                    </div>
                </div>
                <!-- /packing-item -->
                <div class="packing-item d-flex flex-column align-items-center">
                    <span class="packing-type">Пакет</span>
                    <div class="card">
                        <div class="product-img d-flex justify-content-center">
                            <img src="{{ theme_url }}/images/caviar-2.png" alt="">
                        </div>
                        <div class="product-info">
                            <div class="product-title text-center">
                                <span>Кета</span>
                            </div>
                            <!-- /product-title -->
                            <ul class="product-packing d-flex align-items-center justify-content-center flex-wrap">
                                <li><span class="icon-weight"></span>200 мл</li>
                                <li><span class="icon-weight"></span>500 мл</li>
                                <li><span class="icon-weight"></span>1000 мл</li>
                                <li><span class="icon-weight"></span>2500 мл</li>
                            </ul>
                            <!-- /product-packing -->
                        </div>
                    </div>
                </div>
                <!-- /packing-item -->
            </div>
            <!-- /packing-wrapper -->
            <h1 class="title title-lg text-center">Преимущества сотрудничества с нами</h1>
            <div class="advantages d-flex justify-content-between align-items-center flex-wrap">
                <div class="advantage-item d-flex flex-column align-items-center">
                    <img src="{{ theme_url }}/images/price.png" alt="">
                    <div class="advantage-title">Цена</div>
                    <div class="advantage-description">
                        <p>Цена завода-изготовителя</p>
                    </div>
                </div>
                <!-- /advantage-item -->
                <div class="advantage-item d-flex flex-column align-items-center">
                    <img src="{{ theme_url }}/images/waranty.png" alt="">
                    <div class="advantage-title">Гарантия</div>
                    <div class="advantage-description">
                        <p>Гарантия стабильности и регулярности поставок</p>
                    </div>
                </div>
                <!-- /advantage-item -->
                <div class="advantage-item d-flex flex-column align-items-center">
                    <img src="{{ theme_url }}/images/safety.png" alt="">
                    <div class="advantage-title">Безопасность</div>
                    <div class="advantage-description">
                        <p>Легальность и безопасность подтверждена сертификатом производителя и декларацией соответствия ISO 22 000 (НАССР)</p>
                    </div>
                </div>
                <!-- /advantage-item -->
                <div class="advantage-item d-flex flex-column align-items-center">
                    <img src="{{ theme_url }}/images/in-touch.png" alt="">
                    <div class="advantage-title">Всегда на связи</div>
                    <div class="advantage-description">
                        <p>Вы можете звонить в любое время и Вас проконсультуют</p>
                    </div>
                </div>
                <!-- /advantage-item -->
            </div>
            <!-- /advantages -->
            <h1 class="title title-lg text-center">Вся продукция завода сертифицирована</h1>
            <div class="sertificate text-center">
                <img src="{{ theme_url }}/images/sertificate.png" alt="">
            </div>
            <!-- /sertificate -->
        </div>
    </section>
{% endblock %}